@import "../../styles/abstracts/functions";
@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.home {
  display: grid;
  grid-template-columns: toRem(250px) 1fr toRem(350px);
  height: 100vh;
  position: relative;
}
