@import "../../styles/abstracts/functions";
@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.home {
  display: grid;
  grid-template-columns: toRem(250px) 1fr toRem(350px);
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__cart {
    position: absolute;
    bottom: 45px;
    left: 77%;
  }
  &__cart-number {
    position: absolute;
    right: -3px;
    top: 0px;
    width: toRem(17px);
    height: toRem(17px);
    background-color: $col-white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: toRem(10px);
  }
}
