@import "../../styles/abstracts/functions";
@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/base/typography";

.dashboard {
  padding: toRem(43px) toRem(25px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: toRem(85px);
  }

  &__title {
    @include h1;
  }

  &__stats{
        margin-top: toRem(25px);
        display: grid;
        grid-template-columns: repeat(4, toRem(240px));
        column-gap: toRem(35px);
  }

  &__basket-details{
        
  }
}
