@import "../../styles/abstracts/functions";
@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/base/typography";

.basket-details {
  margin-top: toRem(50px);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: toRem(15px);
  }
  &__title {
    @include h2;
  }
}
