@import "../abstracts/functions";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@mixin h1 {
  font-size: toRem(31px);
  font-weight: 600;
  line-height: toRem(47px);
  letter-spacing: 0em;
}

@mixin initials {
  font-size: toRem(28px);
  font-weight: 700;
  line-height: toRem(42px);
  letter-spacing: 0em;
}

@mixin title {
  font-size: toRem(20px);
  font-weight: 700;
  line-height: toRem(23px);
  letter-spacing: 0em;
}

@mixin text-small {
  font-size: toRem(15px);
  font-weight: 400;
  line-height: toRem(15px);
  letter-spacing: 0em;
}
@mixin text-link {
  font-size: toRem(16px);
  font-weight: 400;
  line-height: toRem(24px);
  letter-spacing: 0em;
}
@mixin text-small-2 {
  font-size: toRem(16px);
  font-weight: 600;
  line-height: toRem(24px);
  letter-spacing: 0em;
}
